# 2209261 Basic Programming for NLP
## Lab 3 : Dictionary
## Done by : 6730084521 Chatrphol Ovanonchai

# PART 1. Dictionary understanding

### Exercise 1.1: Change Value in Dict
Change value of dictionary. from 8000 of salary to 16000.

In [1]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict["salary"] = 16000
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 16000, 'city': 'New york'}

### Exercise 1.2 : Change Value in Nested Dict

Change Bradâ€™s salary to 8500 in the following dictionary.

In [2]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

(sample_dict["emp3"])["salary"] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### Exercise 1.3 Iterating Over Dictionaries
Given a dictionary of stock prices, print each stock and its price.

In [3]:
stocks = {'Apple': 150, 'Google': 100, 'Amazon': 75}

for stockName in stocks : 
    print(f"{stockName}: ${stocks[stockName]}") # print key:value

Apple: $150
Google: $100
Amazon: $75

### Exercise 1.4 : Iterating in Dict

Convert two lists into a dictionary using loops.

In [4]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

newDict = {}
for pos in range(len(keys)) : 
    newDict[ keys[pos] ] = values[pos]
    
# call newDict
newDict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

### Exercise 1.5
Find the total score of all subjects.

In [5]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75,
  'computer': 100,
  "english": 90
}

# create variable 
totalScore = 0 

for subject in sample_dict :
  totalScore += sample_dict[subject]
  
print(totalScore)

412

### Exercise 1.6

Which subject do they score the lowest?

In [10]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75,
  'computer': 100,
  "english": 90
}

# create dict with reverse key_dict
reverseSampleDict = {}
for subject in sample_dict : 
  reverseSampleDict[ sample_dict[subject] ] = subject

# find key that is lowest -> get value using min() 
print(reverseSampleDict[ min(reverseSampleDict) ] )

Math

# Part 2. Python Data Structure

### Exercise 2.1: Find Employee ID
Create a python function that finds a name given an employee ID.

In [17]:
employees = {"Alice": 101, "Bob": 102, "Charlie": 103}

def findEmployeeName(employeeID):
    # use .items() instead
    for Name, ID in employees.items():
        if ID == employeeID:
            return Name
    return "ID Not Found"

print(findEmployeeName(101))
print(findEmployeeName(104))

Alice
ID Not Found

### Exercise 2.2: Frequency of Letter

Given a string, count the frequency of each character (ignore spaces).

In [2]:
text = "hello world"

frequency_letter = {}

for character in text : 
    if character.isalpha() == True : 
        # check if character was in dict or not
        if character in frequency_letter : 
            frequency_letter[character] += 1
        else : 
            frequency_letter[character] = 1 # set first count as 1
            
# call dict
frequency_letter

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

### Exercise 2.3 : Average Length of String
Write a python function that finds the average length of a string.
- please remove punctuation before counting the length of word
- use string.punctuation to get a list of punctuation.

In [14]:
def average_word_length(text) : 
    wordLength = {} # create dict
    
    # clean word first
    text_cleaned = ""
    for char in text : 
        if char.isalpha() == True or char.isspace() == True :
            text_cleaned += char
        
    # split into list for counting length
    words = text_cleaned.split()
    for eachWord in words : 
        if len(eachWord) in wordLength : 
            wordLength[ len(eachWord) ] += 1
        else : 
            wordLength[ len(eachWord) ] = 1
    
    # calculate average
    total = 0
    for length in wordLength : 
        total += length * wordLength[ length ]
    
    return total / sum(wordLength.values()) # divider is all count 

text = "Hello, world! This is an example." # 4.166666666666667
print(average_word_length(text))  # Output: 4.2

4.166666666666667

### Exercise 2.4 : Words Frequency

In a given storybook, each wordâ€™s occurrence has been counted and recorded in a one-dimensional list of strings. Your task is to analyze this data to determine the frequency of each word throughout the book.

**Objective:** Write a Python script that counts how many times each unique word appears in the book.

In [3]:
words = ["the", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "brown", "dog"]

words_frequency = {}
for eachWord in words : 
    if eachWord in words_frequency : # have in dict already
        words_frequency[ eachWord ] += 1
    else : 
        words_frequency[ eachWord ] = 1
    
print(words_frequency)

{'the': 2, 'quick': 1, 'brown': 2, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}