# 2209261 Basic Programming NLP
# Lab 2 : String & List
## Done By : 6730084521 Chatrphol Ovanonchai

# PART 1. STRING

### Exercise 1.1 : Full Name
Concatinate firstName and lastName. Then, capitalize the first letter on both

In [31]:
s1 = "john"
s2 = "doe"

# First letter will be Uppercase , other will be lowercase
mix_name = s1[0].upper() + s1[1:] + " " + s2[0].upper() + s2[1:]
print(mix_name)

John Doe

### Exercise 1.2 : Count Words
Count how many words appear in a string.

In [32]:
str1 = "ART students are smart and AI Expert" # 7

# split words to list
words = str1.split()
print(len(words)) # len for length of words

7

### Exercise 1.3 : Count Character

Count how many characters "a" or "A" appear in the string.

In [33]:
str1 = 'I Am 25 years and 10 months old. ' # 3

# split into list
words = str1.split()
# for loop , check if 'A' or 'a' in each word
countA = 0
for eachWord in words : 
    if ('A' in eachWord) or ('a' in eachWord) :
        countA += 1
print(countA)

3

### Exercise 1.4 : Replace String
replace "a" with "A"

In [34]:
str1 = 'I am 25 years and 10 months old. '

# using replace() method
replaceString = str1.replace('a' , 'A')
print(replaceString)

# another solution , for loop each character in str1 
    # if that character is 'a' , change to 'A'

I Am 25 yeArs And 10 months old.

### Exercise 1.5 : Check Word in String
Check if "and" and "AND" is in a string.

In [35]:
str1 = 'I am 25 years and 10 months old.'

# define boolean
andInString = False ; ANDInString = False 
# split into words
words = str1.split()
# for loop each word in list , check if 'AND' or 'and' in list
for eachWord in words :
    if eachWord == 'AND' : 
        ANDInString = True 
        break 
    elif eachWord == 'and' : 
        andInString = True 
        break
    else : 
        pass # normal word
    
print('and: ' + str(andInString) + '\n' + 'AND: ' + str(ANDInString) )

and: True
AND: False

### Exercise 1.6 : Reverse String

Write a python function that recieve a string and reverse it.

In [36]:
def reverse_string(word) : 
    return word[::-1]

# call function
print(reverse_string("hello"))

olleh

# PART 2.Loop Exercise

### 2.1 Print in loop
Print the index number along with each color. The output format must be the same as shown here

0: red, 1: green, 2: blue, 3: yellow, 4: white, 5: black,

In [37]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']

color_string = ""
for posEachColor in range(len(colors)) : 
    color_string += str(posEachColor) + ': ' + colors[posEachColor] + ', '

print(color_string)

0: red, 1: green, 2: blue, 3: yellow, 4: white, 5: black,

### 2.2 factorial of n
Create a function to find a factorial of n!


*   fact(2) = 1 x 2 = 2
*   fact(5) = 1 x 2 x 3 x 4 x 5 = 120

In [38]:
import math

def fact(n) : 
    if n == 0 or n == 1 : 
        return 1
    else : 
        return math.factorial(n) # importing math module
    
# another way , multiply until get n = 1 , (5 -> 4 -> 3 -> 2 -> 1) multiply each time 


# call function
test = fact(2)
print(test)
test = fact(5)
print(test)

2
120

# PART 3. List Exercise

### 3.1 understand indexing

Get two specific values "China" and "Austria" from countries list.

In [39]:
countries = ['United States', 'India', 'China', 'Brazil','UK', 'Germany', 'Austria']

print(countries[2])
print(countries[6])
print(countries[-1])

China
Austria
Austria

### 3.2 understand indexing
Write a program to get value

1.   40
2.   400
3.   [5000,6000]
4.   6000

In [40]:
vals = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

print(vals[-1]) # 40 
print(vals[2][1]) # vals[2] = [300, 400, [5000, 6000], 500] # 400
print(vals[2][2]) # [5000 , 6000]
print(vals[2][2][1]) # 6000

40
400
[5000, 6000]
6000

### 3.3 understand indexing
Write a program to add item 7000 after 6000 in the following vals list

In [41]:
vals = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

print(vals[2][2]) # vals[2] = [300, 400, [5000, 6000], 500] -> get index 2 (list of [5000, 6000])
vals[2][2].append(7000)

print(vals) # [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

[5000, 6000]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### 3.4 sum with for
Find the sum of numbers in a list using **for** loop

In [42]:
myList = [23,45,12,10,25]

total = 0
for eachNum in myList :
    total += eachNum

print(total) # 115

115

### 3.5 sum with while
Find the sum of numbers in a list using **while** loop

In [43]:
myList = [23,45,12,10,25]

pos = 0 ; total = 0 # pos in list

print(len(myList))

# entering loop
while pos < len(myList) : 
    # add value
    value = myList[pos]
    total += value
    
    # print statement
    print(f"idx: {pos}  value: {value}")
    
    # add pos 
    pos += 1
    
# end loop 
print(total)

5
idx: 0  value: 23
idx: 1  value: 45
idx: 2  value: 12
idx: 3  value: 10
idx: 4  value: 25
115

# PART 4. Loop and List Exercise

### 4.1 Find the maximum value in a list
Find the maximum value in a list using a loop. (No sorting allow)

In [44]:
myList = [23,45,12,10,25]

# define max value first (given as first index)
max_value = myList[0]

for element in myList :
    if element > max_value : 
        max_value = element

print("the maximum value is" , max_value)

the maximum value is 45

### 4.2 Count Integer

Count how many items in a list are integers.

In [45]:
mixtypeLists = ["name1", "long name1",1,1,2.0,2.0] # #int are 2

integer_count = 0 

for each_element in mixtypeLists : 
    # check if floating number (float , int included)
    if type(each_element) == float :
        
        # check if integer
        if each_element % 1 == 0 : 
            integer_count += 1
    
print("#int are" , integer_count)

#int are 2

### 4.3 remove item in a list

Write a python program to remove empty string from a list.

In [46]:
list1 = ["Mike", "", "Emma", "Kelly", "", ""]

for element in list1[:] : # remove() have a bug , so copying removing list then remove original list instead
    if element == "" : 
        list1.remove(element)
        
print(list1)

['Mike', 'Emma', 'Kelly']

### 4.4 Iterate both lists with equal length simultaneously.

In [47]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for pos in range(len(list1)) : # len(list1) = len(list2)
    print(list1[pos] , list2[pos])

10 100
20 200
30 300
40 400

### 4.5 food lists

Please write a function select_ingredients that takes the following input:

* A list of ingredients for the dishes your friend will prepare.
* A list of ingredients that the children do not eat.
* This function must return a list of ingredients that your friend can use to cook for children.

In [48]:
def select_ingredients(dish_ingredients , children_dislikes) : 
    # if some of elements in children_dislikes appear in dish_ingredients , remove it
    for dislikeElement in children_dislikes : 
        if dislikeElement in dish_ingredients : 
            dish_ingredients.remove(dislikeElement)

    return dish_ingredients

# Example usage:
dish_ingredients = ["bokchoy",'carrots', 'peas', 'chicken', 'rice']
children_dislikes = ['peas', 'carrots','lime']
usable_ingredients = select_ingredients(dish_ingredients, children_dislikes)
print(f"Ingredients that can be used: {usable_ingredients}")

Ingredients that can be used: ['bokchoy', 'chicken', 'rice']